.recipe-divider {
  width: 100%;
}

.recipe-item {
  background-size: cover;
  height: 100px;
  width: 450px;
  margin: 20px;
  border-radius: 8px;
  display: inline-block;
}

.recipe-item a {
  color: white;
  text-decoration: none;
}
